@font-face {
  font-family: "Iorek Byrnison";
  src: url(../police/Iorek\ Byrnison.ttf);
}


body {
  box-sizing: border-box;
}

.carousel {
  height: 200px;
  max-width: 70%;
  margin: 0 auto;
  position: relative; /*On met le container principal en position relative pour ensuite positionner nos images en absolute sans que tout ne remonte en haut du body */
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute; /*Cette position permet de placer toutes les images les unes sur les autres */
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button_left {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(
    -50%
  ); /*Sans cette ligne le haut du bouton est positionné à 50%, pas le milieu du bouton */
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer; /*Permet de transformer la souris en main quand on passe sur le bouton; */
}

.carousel_button_right {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer; /*Permet de transformer la souris en main quand on passe sur le bouton; */
}

.carousel_nav {
  display: flex;
  justify-content: center;
}

.carousel_indicator {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
  border: 0;
  padding: 6px;
  margin: 5px 10px;
  opacity: 0.3;
  cursor: pointer;
}

.current-slide {
  background-color: black;
  opacity: 1;
}

.text {
  color: whitesmoke;
  font-size: 15px;
  padding: 0px 12px;
  position: absolute;
  bottom: 8px;
  left: 2px;
  right: 2px;
  width: 100%;
  text-align: center;
}

.is-hidden {
  display: none;
}

/* ---------------------------- Infos pratiques --------------------------- */

#infos p {
  margin: 0;
}

#infos {
  max-width: 80%;
  margin: auto;
}

/* ---------------------------- Formulaire --------------------------- */
#contact {
  max-width: 80%;
  margin: auto;
}

#contactForm {
  display: grid;
  grid-template-columns: 1fr;
}

#contactForm div {
  display: flex;
  flex-direction: column;
}

#contactForm input {
  margin: 5px 0 10px;
}

#contactForm textarea {
  margin: 5px 0 10px;
  resize: none;
}

#contactForm button {
  margin: 10px 0;
}

@media screen and (min-width: 360px) {
  
  #contactForm {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media screen and (min-width: 620px) {
  iframe {
    width: 340px;
    height: 200px;
  }

  #infos > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #infos > div :first-child {
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
