/* ------------------------------------------------- Cartes & Abonnements --------------------------------------------------------------*/
#abo {
  padding-top: 81px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.parent > div {
  flex-basis: 350px;
  text-align: center;
}
div.footer-col {
  text-align: left;
  flex-basis: 400px;
}

#abo h1 {
  text-align: center;
  font-size: 50px;
  color: burlywood;
  letter-spacing: 5px;
}

#abo h1.mainTitle {
  text-align: center;
  font-size: 70px;
  color: burlywood;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: normal;
}

#abo h2 {
  color: whitesmoke;
  font-weight: normal;
  font-size: 35px;
}
#abo h2.duo {
  color: whitesmoke;
}

#abo h3 {
  font-size: 30px;
  color: whitesmoke;
  letter-spacing: 1.5px;
}
#abo h4 {
  font-size: 24px;
  color: whitesmoke;
}
#abo p {
  color: whitesmoke;
}
#abo img.carteAbo {
  width: 300px;
  height: auto;
  border-radius: 10%;
  transition: transform 0.1s;
}
#abo img.carteAbo:hover {
  transform: scale(1.2);
}

#abo p.prix {
  font-size: 25px;
  font-weight: bold;
  color: burlywood;
  letter-spacing: 1.5px;
}

table {
  margin: auto;
  border: medium solid whitesmoke;
  width: 50%;
}
tbody {
  font-size: 24px;
  letter-spacing: 1.5px;
}

td {
  color: #ffffff;
}

td,
th {
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  border: 1px solid burlywood;
}

.condition {
  font-style: italic;
  font-size: 18px;
  padding-top: 50px;
  color: #ffffff;
}

.condition2 {
  font-style: italic;
  font-size: 18px;
  padding-top: 5px;
  color: #ffffff;
  margin: 0;
}
.prix {
  font-weight: bold;
  color: whitesmoke;
}
.partenaires {
  flex-direction: column;
}
.cine {
  margin-bottom: 50px;
}

/* ------------------------------------code bouton je m'abonne ------------------------ */

.myButton2 {
  background-color: rgb(51, 162, 255);
  border-radius: 28px;
  border: 1px solid rgb(51, 162, 255);
  display: inline-block;
  color: #ffffff;
  font-family: landa;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 11px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  margin-bottom: 15px;
}
.myButton2:hover {
  background-color: #14a961;
}
.myButton2:active {
  position: relative;
  top: 1px;
}

/* ---------------------------------------------------------- Tarifs -------------------------------------------------------------------------*/

/* -------------------------------------------- Partie offres partenaires -------------------------------------------------- */
.partenaires h3 {
  padding-bottom: 5px;
}

.prixPass {
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.prixPass2 {
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.parent {
  padding-bottom: 60px;
}
.contact {
  display: inline-flex;
}
.offres {
  padding-top: 50px;
}
/* ------------------------------------------------------- Footer ------------------------------------------------------------------------------*/
.container {
  max-width: 1170px;
  margin: auto;
  flex: 1 0 auto;
}

footer ul {
  list-style: none;
  color: #ffffff;
  padding-inline-start: 0;
  display: flex;
}
.footer,
.parent {
  padding: 0;
}
.footer-col {
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  text-decoration: underline 6px solid burlywood;
  border-bottom: 1px solid burlywood;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: whitesmoke;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
#footerInfo {
  flex-direction: column;
}

#footerReseaux {
  align-items: center;
  justify-content: center;
}

#footerReseaux li {
  padding: 15px;
}

@media screen and (max-width: 690px) {
  #abo h1.mainTitle {
    font-size: 35px;
  }
}
