/* --------------------------------------------------Police -----------------------------------------------------------------------------*/
@media screen and (max-width: 690px) {
  @font-face {
    font-family: "Landa";
    src: url("Landa.ttf");
  }

  body {
    font-family: landa;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* ----------------------------------------------- Global -------------------------------------------------------------------------------*/
  * {
    background-color: rgb(30, 33, 34);
    box-sizing: border-box;
  }

  h1 {
    font-family: landa;
    font-size: 35px;
    color: burlywood;
    letter-spacing: 5px;
    text-align: center;
    margin: auto;
  }

  h1.mainTitle {
    font-family: landa;
    text-align: center;
    font-size: 7vw;
    color: burlywood;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  h2 {
    margin-left: 35px;
    color: whitesmoke;
    text-decoration: underline burlywood;
    font-weight: normal;
    font-size: 35px;
  }
  h2.duo {
    margin-left: 45px;
    color: whitesmoke;
  }

  h3 {
    font-size: 26px;
    text-align: left;
    color: whitesmoke;
    letter-spacing: 1.5px;
  }
  p {
    color: whitesmoke;
  }
  img.carteAbo {
    border-radius: 10%;
    width: 50%;
    min-width: 160px;
    max-width: 280px;
    height: auto;
    margin: auto;
    align-items: center;
  }

  p.prix {
    margin-left: 32px;
    font-size: 26px;
    font-weight: bold;
    color: burlywood;
    letter-spacing: 1.5px;
  }

  table {
    margin: auto;
    border: medium solid whitesmoke;
    width: 50%;
  }
  td {
    color: #ffffff;
    font-weight: normal;
  }

  tbody {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 20px;
    font-weight: normal;
  }

  td,
  th {
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding-right: 10px;
  }

  .condition {
    font-style: italic;
    font-size: 16px;
    letter-spacing: 2, 5px;
    padding-top: 50px;
    padding-left: 15px;
    color: #ffffff;
  }
  .condition2 {
    font-style: italic;
    font-size: 18px;
    padding-top: 50px;
    color: #ffffff;
  }
  .prix {
    font-weight: bold;
    color: whitesmoke;
  }
  .partenaires {
    flex-direction: column;
  }
  .cine {
    margin-bottom: 50px;
  }
  /* ------------------------------------------ Abonnement ------------------------------------------------------------------------------------*/
  .intro {
    text-align: center;
  }
  .div-student {
    text-align: center;
    margin: auto;
  }
  .div-normal {
    text-align: center;
    margin: auto;
  }
  .div-duo {
    text-align: center;
    margin: auto;
  }

  /* ------------------------------------code bouton je m'abonne ------------------------ */

  .myButton {
    background-color: #126abd;
    border-radius: 28px;
    border: 1px solid #126abd;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding: 7px 6px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    margin-left: 45px;
  }
  .myButton:hover {
    background-color: #14a961;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }

  /* ---------------------------------------------------------- Tarifs -------------------------------------------------------------------------*/
  .table {
    text-align: center;
  }
  table {
    margin: 0 auto;
  }
  /* -------------------------------------------- Partie offres partenaires -------------------------------------------------- */
  .offres {
    margin-bottom: 16%;
  }
  .prixPass {
    margin-left: 44px;
    color: #ffffff;
  }
  .prixPass2 {
    margin-left: 44px;
    color: #ffffff;
  }
  .imgPass2 {
    width: 40%;
    min-width: 100px;
    max-width: 180px;
    height: 40%;
    min-height: 100px;
    max-height: 130px;
  }
  .imgPass {
    width: 40%;
    min-width: 100px;
    max-width: 180px;
    height: 40%;
    min-height: 100px;
    max-height: 130px;
  }

  .div4 {
    margin-left: 45%;
  }
  .div5 {
    margin-left: 45%;
  }
  .div6 {
    margin-left: 45%;
  }

  /* ------------------------------------------------------- Footer ------------------------------------------------------------------------------*/

  .container {
    max-width: 1170px;
    margin: auto;
    flex: 1 0 auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    font-family: landa;
  }
  ul {
    list-style: none;
    color: #ffffff;
  }
  .footer {
    padding: 0px 0;
    font-family: landa;
  }
  .footer-col {
    width: 30%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 80%;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: whitesmoke;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  ul {
    padding-inline-start: 0;
  }
  .footer-col {
    width: 70%;
    margin-bottom: 30px;
  }
}
