
@media screen and (min-width: 360px){

body{
    padding-left: 1%;
    padding-right: 1%;
}

img{
    width: 100%;
}

#film{
    display:flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#filmDescription{
    padding-left: 2%;
    padding-right: 2%;
    min-width: 75%;
    max-width: 75%;
}

.dropDownButton{
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 20%;
    max-width: 20%;
    border: none;
    background-color: inherit;
}

.dropDownContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
}
